@font-face {
  font-family: 'Lobster-Regular';
  src: url('./Lobster-Regular.ttf');
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.tab {
  padding: 10px;
}

.tab:hover {
  background-color: aquamarine;
}

.logoFont {
  font-family: 'Lobster-Regular';
}
