:root {
  --lightest-color: #f8f2e3;
  --lighter-color: #deb6ab;
  --mid-color: #ac7d88;
  --darkest-color: #85586f;
}

/* colors 
#f8ecd1 - cream
#deb6ab - peach
#ac7d88 - purple peach
#85586f - muted purple
*/

@font-face {
  font-family: 'Lobster-Regular';
  src: url('./fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Black';
  src: url(./fonts/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url(./fonts/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(./fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url(./fonts/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: 'Lato-Italic';
  src: url(./fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(./fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url(./fonts/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(./fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: 'Lato-ThinItalic';
  src: url(./fonts/Lato-ThinItalic.ttf);
}

html {
  height: 100%;
}

body {
  background-color: var(--lightest-color);
  font-family: 'Lato-Regular';
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: x-large;
  text-decoration: underline;
}

h4 {
  margin-bottom: 5px;
  font-family: 'Lato-Bold';
}

p {
  margin-top: 5px;
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--darkest-color);
  flex-wrap: wrap;
  padding: 10px;
  color: var(--lightest-color);
}

footer {
  padding: 10px;
  background-color: var(--darkest-color);
  width: 100%;
  height: 200px;
  margin-top: auto;
}

.tab {
  padding: 20px;
}

.mainLogo {
  font-family: 'Lobster-Regular';
  font-size: 32px;
  color: var(--darkest-color);
  background-color: var(--lightest-color);
  padding: 10px;
}

.heroLogo {
  font-family: 'Lobster-Regular';
  font-size: 48px;
  color: var(--lightest-color);
  padding: 10px;
}

.invertLogo {
  font-family: 'Lobster-Regular';
  color: var(--lightest-color);
  background-color: none;
  font-size: 32px;
  padding: 10px;
}

.selected {
  background-color: var(--lightest-color);
  border-radius: 10px;
  color: var(--darkest-color);
}

.tab:hover,
.mainLogo:hover,
.invertLogo:hover,
.homePageButton:hover {
  background-color: var(--lighter-color);
  border-radius: 10px;
  color: var(--darkest-color);
}

.homePageButton:hover {
  color: var(--lightest-color);
}

.hero {
  display: grid;
  background-color: var(--mid-color);
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--lightest-color);
  justify-content: center;
  justify-items: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}

.hero h1 {
  font-family: 'Lato-Bold';
  font-size: xxx-large;
}

.hero a {
  color: var(--lighter-color);
}

.menuImage {
  background-image: url(./images/waffle-878198_1280.jpg);
}

#menu {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.hourLocation {
  background-image: url(./images/wooden-2594768_1280.jpg);
}

#mapInformationGrid {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
}

iframe {
  max-width: 500px;
  max-height: 500px;
}

.aboutImage {
  background-image: url(./images/waffles-2190961_1280.jpg);
}

#aboutContainer {
  display: grid;
  padding: 20px;
  justify-content: center;
}

.homeHeroImage {
  background-image: url(./images/coffee-waffles.jpg);
}

#aboutContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
}

#ownerImage {
  max-width: 30%;
}

#about {
  max-width: 60%;
}

#homeButtonContainer {
  display: grid;
  border-radius: 7px;
  gap: 20px;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: max-content;
  align-content: stretch;
  padding: 20px;
}

.homePageButton {
  height: 250px;
  color: var(--lightest-color);
  background-color: var(--mid-color);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  font-size: larger;
  font-family: 'Lato-Bold';
  border: none;
  border-radius: 10px;
}
