@font-face {
  font-family: 'Lobster-Regular';
  src: url('./fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(./fonts/Lato-Regular.ttf);
}

/* colors 
#f8ecd1 - cream
#deb6ab - peach
#ac7d88 - purple peach
#85586f - muted purple
*/

body {
  background-color: #f8ecd1;
  font-family: 'Lato-Regular';
  margin: 0px;
  padding: 0px;
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: #deb6ab;
}

.tab {
  padding: 20px;
}

.mainLogo {
  font-family: 'Lobster-Regular';
  font-size: 32px;
  color: #85586f;
  background-color: #f8ecd1;
  padding: 10px;
}

.invertLogo {
  font-family: 'Lobster-Regular';
  color: #f8ecd1;
  background-color: none;
  font-size: 32px;
  padding: 10px;
}

.selected {
  background-color: #f8ecd1;
}

.tab:hover,
.mainLogo:hover,
.invertLogo:hover {
  color: #f8ecd1;
  background-color: #ac7d88;
}
